$primaryBrandColor: #bdceff;

$secondaryBrandColor: #313869;

$secondaryAccentLight: #8192c3;
$secondaryWarning: #ff3f8c;

$primaryWhiteAccent: #fcfcfc;
$primaryBlackAccent: #000;

$shadowHighight: #fff;
$shadowShade: #000;

$bgTransparent: rgba(
  $color: $primaryWhiteAccent,
  $alpha: 0.94,
);
